@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald|Roboto');

body {

  background-color: #eee;
  color: #444;
  line-height: 1.5;
  font-family: "Roboto";
  font-size: 16px;
  max-width: 80%;
  margin: 0 auto;
