

body {
  margin: 0 auto;
  max-width: 80%;
  line-height: 1.5;
  padding: 4em 1em;
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #000000; /* black */
  text-align: left;
  background-color: #5D6A6D;
}
h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #0000ff; /* blue */
 text-align: center;
}

h2{
  margin-top: 1em;
  padding-top: 1em;
}

p{

}
</style>
