@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz');




/*** KERNING & LEADING ASSIGNMENT STYLES ***/

.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
    letter-spacing: 2.5px;
}

h2 {
    letter-spacing: 1px;

}

#leading {
      line-height: 270%;
  }

  p.big {
      line-height: 200%;
  }
}
/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
      text-align: left;
  }

  h2 {
      text-align: center;
  }

   {
      text-align: left;
  }

#right_align {
  text-align: center;
}

h2 {
  text-align: right;
}

 {
  text-align: right;
}

#justify {
  text-align: center;
}

h2 {
   text-align: left;
}

 {
   text-align: right;
}


#center {
  text-align: center;
}

h2 {
  text-align: center;
}

 {
  text-align: center;
}

/*** HIERARCHY ASSIGNMENT STYLES ***/
section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;
}

/* Do not change this style */
section p {
  font-size: 1.1em;
  margin: 2em 4em;
  max-width: 55%;
}

/* Change this style */
#biggerText {
   font-size: 1.6em
}

/* Change this style */
.indent {

}

.weights {
  font-family: "Roboto";
  font-size: 32px;
}

#weight1 {
  font-weight: 200;
}

#weight2 {
  font-weight: 300;
}

#weight3 {
  font-weight: 400;
}

#weight4 {
  font-weight: 500;
}

#weight5 {
  font-weight: 900;
}

#grandCanyon {
  background-image: url("../images/grand_canyon.jpg");
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 800px;
  margin: 0 auto;
}

#top {
  font-family: "Lobster";
  font-size: 60px;
  font-weight: 900;
  color: #FFAC3F;
  text-align: center;
  text-shadow: 2px 2px #000
}

#top2 {
  font-family: 'Yanone Kaffeesat';
  font-size: 40px;
  font-weight: 900;
  color: #FFAC3F;
  text-align: center;
  text-shadow: 2px 2px #000
}

#bottom {
  font-family: "Lobster";
  font-size: 20.2px;
  font-weight: 900;
  color: #FFAC3F;
  text-align: center;
  margin: 0 auto;
  text-shadow: 2px 2px #FFF
}

#bottom2 {
  font-family: "Lobster";
  font-size: 15px;
  font-weight: 900;
  color: #FFAC3F;
  text-align: right;
  text-shadow: 2px 2px #000


}
