/*** KERNING & LEADING ASSIGNMENT STYLES ***/

.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

#kerning {
    letter-spacing: 2.5px;
}

h2 {
    letter-spacing: 1px;

}

#leading {
      line-height: 270%;
  }

  p.big {
      line-height: 200%;
  }
}
/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

.align {
  max-width: 80%;
  margin: 1em auto;
}

#left_align {
      text-align: left;
  }

  h2 {
      text-align: center;
  }

   {
      text-align: left;
  }

#right_align {
  text-align: center;
}

h2 {
  text-align: right;
}

 {
  text-align: right;
}

#justify {
  text-align: center;
}

h2 {
   text-align: left;
}

 {
   text-align: right;
}


#center {
  text-align: center;
}

h2 {
  text-align: center;
}

 {
  text-align: center;
}

/*** HIERARCHY ASSIGNMENT STYLES ***/
section {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 560px;
  width: 560px;
  margin: 0 auto;
}

/* Do not change this style */
section p {
  font-size: 1.1em;
  margin: 2em 4em;
  max-width: 55%;
}

/* Change this style */
#biggerText {
   font-size: 1.6em
}

/* Change this style */
.indent {

}
